*{
  margin:0px;
}

  body{
    background-image: url(../images/back4.jpg);
  background-position: center;

}
h1{
	padding: 100px;
	font-size: 65px;
   
	font-style:italic;
	font-family:all;
	color: #778899;
	margin-top: -50px;

}
.logo{
position: absolute;
    right: 70px;
    top: 20px;
   
}
.logo img{
width: 240px;
    height: 200px;
}

p{
text-align: left;
font-size:35px;
color: grey;
position: absolute;
	bottom: 280px;
	right:250px;
	padding: 70px;
}

.navbar{
  text-align: right;
 position: absolute;
 right: 130px;
 top:230px;
 
}

li{
  display: inline-block;
}
.navbar a{
 font-style:italic;
	font-family:all;
    color: grey;
  padding: 0.3cm 0.5cm;
  font-size: 0.5cm;
    background-color: lightgrey;
  border: 1.5px solid #778899;
  font-weight: bold;
}
.navbar a:hover{
  border: 1.5px solid #6495ED;
  padding: 0.4cm 0.7cm;
  font-size: 0.4cm;
    background-color: lightgrey;

}


.im img{
	width:450px;
	height: 490px; 
	margin-left: 550px;
	margin-top: -600px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
	
	
}



.card{
  width:300px;
 
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
  margin-left: 70px;
}
.card:hover{
  transform: scale(1.1);
  transition: 0.6s;
}
.placeimg{
  width:  200px;
  height: 300px;
}
.placeimg img{
  width: 295px;
  height: 300px;
  
}
.placeimg img:hover{
  transform: scale(1.1);
  transition: 0.9s;
}
.placeinfo{
  width: auto;
  background: grey;
  padding: 20px 20px;
  height: auto;
}
.placeinfo h2{
  letter-spacing: 1px;
  font-size: 0.55cm;
  color:#fff;
  text-align: center;
  margin-bottom:10px;
  
}
.placeinfo h3{
  color: darkred;
  font-size:0.8cm;
  text-align:center;
  margin-bottom:20px;
}

.card-btn{
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 6px 40px;
  font-size: 16px;
  margin-top:0.5cm;
  width: 170px;
}
.card-btn:hover{
  color:#141414;
  background-color: #fff;
  transition: 0.9s;}



