*{
text-align: left;
font-size: 15px ;
color: rgb(0, 0, 0);
}

*{
  margin:2px;
}
body{
  background-image: url(../images/fond.jpg);
  background-position: center;
  
  
}
h3{
text-align: center;
font-size: 43px ;
color: rgb(0, 0, 0);
position: absolute;
margin-top: -100px;
margin-left: 500px;

}

